    <div class="container">
    <div class="card">
        <h1 class="title">Login Restaurante</h1>
        <p class="subtitle">Ingresa tus credenciales</p>

        <form (ngSubmit)="login()" #LoginForm="ngForm">
        <input
            type="email"
            placeholder="Correo electrónico"
            name="correo"
            [(ngModel)]="correo"
            required
        />

        <input
            type="password"
            placeholder="Contraseña"
            name="password"
            [(ngModel)]="password"
            required
        />

        <button class="btn-primary" type="submit">Iniciar sesión</button>
        </form>

        <div
        class="mensaje"
        [ngClass]="{
            success: tipoMensaje === 'success',
            error: tipoMensaje === 'error'
        }"
        *ngIf="mensaje"
        >
        {{ mensaje }}
        </div>
    </div>
    </div>
